body {
  font-family: "Noto Sans KR", sans-serif;
}

/*Navbar*/

nav {
  background-color: #000;
  width: 100%;
  display: flex;
}
nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

/*Navbar Brand */
.navbar-brand {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.navbar-brand img {
  width: 45px;
  padding: 5px;
}
.navbrand-text p {
  font-size: 15px;
  font-weight: 600;
}
.navbrand-text span {
  font-weight: 10;
}

.fa-bars{
	visibility: hidden;
}

/*Navbar Mid Section*/
.navbar-div {
  display: flex;
  align-items: center;
  margin: auto;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}

nav li a {
  font-weight: 100;
  margin: 0 20px;
}
nav li a:hover {
  color: #fed000;
}
.active {
  font-weight: 500;
  color: #fed000;
}

/*Navbar Socials*/
.navbar-socials {
  display: flex;
  align-items: center;
  margin-right: 5%;
}
.navbar-socials i {
  color: #fff;
}
.navbar-socials i:hover {
  color: #fed000;
}
.navbar-socials li a {
  font-weight: 100;
  margin: 0 10px;
  font-size: 1.3rem;
}

/*Banner*/
.banner{
  text-align: center;
  padding:150px 0;
  font-size:70px;
  display:flex;
  font-weight:200;
  color:#fff;
  background-color: rgba(0,0,0,0.2);
}

.banner div{
  float:left;
  margin:0 20px;
}
.banner span{
  font-weight:600;
}
.v-line{
  width:1px;
  background-color:black;
}

.about{
  background-color:#fff;
  padding:120px 50px;
  display:flex;
  align-items: center;
}

.about h2{
  font-weight:600;
  font-size:50px;
  margin-bottom:30px;
}
.about p{
  font-size:30px;
  font-weight: 100;
}

.about-text{
  width:60%;
  padding:0 120px;
}

.about img{
  width:350px;
}

.skills{
  width:100%;
  height:400px;
  background-color:#fed000;
  text-align: center;
  padding:110px 50px;
}
video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

@media only screen and (max-width: 900px) {
  nav {
    display: block;
  }
  /*navbar brand */
  .navbar-brand {
    padding: 10px 0;
  }


  .navbar-brand div {
    margin: 0 auto 0 0;
  }

  .fa-bars{
	  visibility:visible;
	  margin-right:5%;
	  font-size:15px;
  }

  /*Middle section*/

  nav ul {
    margin: 0 auto;
    text-align: center;
	display: block;
	width:100%;
  }

  nav li {
    display: block;
    padding: 15px 0;
  }
  nav li{
	font-weight:300;
  }

  nav li:hover {
	background-color: #fff;
  }
  nav li:hover > a,nav li:hover > .fab{
	  color:#000;
  }
  .active {
	background-color: #fed000;
  }
  .active a{
	font-weight: 500;
	color:#000;
  }
  /*Socials */
  .navbar-socials {
	display: block;
	align-items: center;
	margin:0;
  }


  .navbar-socials li:hover > .fab{
	color: #000;
  }
 
  
}
