body {
  font-family: "Noto Sans KR", sans-serif;
}

/*Loading Screen */

.loadingScreen {
  visibility: visible;
  position: fixed;
  z-index: 1000;
  background-image: url("/media/imgs/yellow_bg.png");
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.loadingContent {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  text-align: center;
}

.loadingContent h1 {
  font-size: 4rem;
  text-transform: uppercase;
  padding-top: 150px;
}

.rotate {
  animation: rotation 2.5s infinite linear;
}
/* Navbar*/

.navbar {
  background-color: #000;
}

.navbar-brand {
  margin: 0 50px;
}
.navbar-collapse {
  margin-left: 50px;
}
.navbar a {
  font-family: "Noto Sans KR", sans-serif;
  color: #fff !important;
}
.nav-item {
  width: 100%;
}
.nav-item:hover > a {
  color: #fed000 !important;
  opacity: 0.8;
}

/* Banner */

.banner {
  height: 300px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

.banner-content {
  width: 100%;
  text-align: center;
}

.banner-content h1 {
  width: 70%;
  margin: 90px auto;
  font-size: 5rem;
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
}

.banner__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.typewrite span {
  font-family: "Roboto Mono", monospace;
  font-size: 0.6em;
  padding-right: 5px;
  border-right: solid 3px white;
  animation: blink 0.5s step-end infinite alternate;
}

/* About Section */
.about-text {
  font-size: 1.5rem;
}
/* Projects */
#projects {
  position: relative;
  background-color: #fff;
  padding: 20px;
  width: 55%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
}
#projects h1 {
  text-transform: uppercase;
}
#projects img {
  border-radius: 50%;
  width: 200px;
}
#projects button {
  background-color: #fff;
  border: solid 2px black;
  color: #000;
  padding: 15px 25px;
}
#projects button:hover {
  background-color: #000;
}
#projects button:hover > a {
  color: #fed000;
}
#projects button a {
  color: #000;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
}
/*Dream Website*/
.dreamweb {
  background-color: #000;
  color: #fff;
  padding: 100px 0;
  padding-bottom: 120px;
}

.dreamweb .titleweb {
  color: #000;
  text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff,
    0.5px 0.5px 0 #fff;
  font-size: 5em;
  text-transform: uppercase;
}

.dreamtitle {
  color: #fff;
}

.option {
  padding: 25px 0;
  transition: all 0.5s ease-in-out;
}
.option img {
  width: 250px;
  height: 150px;
}

.option:hover {
  z-index: 90;
  transform: scale(1.2);
}

/*Seb */
.chooseSeb {
  background-color: #fed000;
  color: #000;
  padding: 20px 0;
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);
  margin-top: -5vw;
}

.chooseSeb .titleweb {
  color: #fed000;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 5em;
  text-transform: uppercase;
}

.chooseSeb .dreamtitle {
  color: #000;
}

.chooseSeb img {
  height: 75px;
  width: 75px;
  margin: 20px 0;
}

.chooseSeb .option {
  border-radius: 0.5em;
}

.contact {
  background-image: url("/media/imgs/white_bg.png");
  padding: 50px;
}

.contact .row {
  width: 75%;
  margin: auto;
}

.btn-form {
  background-color: #000;
  border: solid 2px #fff;
  color: #fff;
  padding: 15px 25px;
}
.btn-form:hover {
  background-color: #fed000;
  color: #000;
  border: solid 2px #000;
}

footer {
  background-color: #000;
  border: 0;
  margin: 0;
  padding: 0;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #fed000;
  text-decoration: none;
}

.language img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.steps {
  padding: 20px 0;
}
.stepsContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/media/imgs/nightbanner.jpg");
  background-position: center top;
  background-size: cover;
  margin-top: -5vw;
  padding: 75px 0;
  padding-top: 150px;
  transform-origin: left;
  color: #fff;
}

.stepsContainer h1 {
  color: #fff;
  text-align: center;
  background: transparent;
  margin: 10px auto;
}

.stepsContainer .row {
  width: 50%;
  margin: auto;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Small devices (landscape phones, 544px and up) */
@media (max-width: 544px) {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  .banner-content h1 {
    font-size: 3rem;
  }
  .navbar,
  .navbar-expand-md,
  .navbar-collapse {
    padding: 0 !important;
    margin: 0;
  }

  .navbar-brand,
  .navbar-toggler {
    margin: 20px 20px;
    outline: none;
    border: 0;
  }
  .navbar-collapse a {
    text-align: center;
  }

  .nav-item {
    width: 100%;
    padding: 5px;
  }
  .nav-item:hover {
    background-color: #fed000;
  }

  .nav-item:hover > a {
    color: #000 !important;
  }

  .dreamweb .titleweb {
    color: #000;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
    font-size: 4em;
    text-transform: uppercase;
  }

  .chooseSeb .titleweb {
    color: #fed000;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    font-size: 4em;
    text-transform: uppercase;
  }

  .option img {
    width: 75%;
  }
  .chooseSeb img {
    height: 75px;
    width: 75px;
  }
  p {
    font-size: 1.2rem;
  }
  #projects {
    width: 100%;
  }

  .typewrite span {
    font-size: 2em;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .dreamweb .titleweb {
    color: #000;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
    font-size: 4em;
    text-transform: uppercase;
  }
  p {
    width: 85%;
    margin: auto;
    font-size: 1.5rem;
  }
  #projects {
    width: 100%;
  }
  .typewrite span {
    font-size: 2em;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}
