body {
  font-family: "Noto Sans KR", sans-serif;
}

/*Navbar*/

nav {
  background-color: #000;
  width: 100%;
  display: flex;
}
nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

/*Navbar Brand */
.navbar-brand {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.navbar-brand img {
  width: 45px;
  padding: 5px;
}
.navbrand-text p {
  font-size: 15px;
  font-weight: 600;
}
.navbrand-text span {
  font-weight: 10;
}

.fa-bars {
  visibility: hidden;
}

/*Navbar Mid Section*/
.navbar-div {
  display: flex;
  align-items: center;
  margin: auto;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}

nav li a {
  font-weight: 100;
  margin: 0 20px;
}
nav li a:hover {
  color: #fed000;
}
.active {
  font-weight: 500;
  color: #fed000;
}

/*Navbar Socials*/
.navbar-socials {
  display: flex;
  align-items: center;
  margin-right: 5%;
}
.navbar-socials i {
  color: #fff;
}
.navbar-socials i:hover {
  color: #fed000;
}
.navbar-socials li a {
  font-weight: 100;
  margin: 0 10px;
  font-size: 1.3rem;
}

.lang {
  font-size: 0.7em !important;
  margin: 0 !important;
  padding: 0 !important;
}

.loadingScreen {
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  background-image: url("https://lh3.googleusercontent.com/4ZPfM-ADfIoBeKfoqeFaVcibZwfZlUVxSYY9lLPneUF-3qcRFH2vInlJdzFQ_eUM18lPt5pWsX0kLeV8zNmBdakpW0RN83TBP1-0XXE8UqveXnPWzmjtGbrXSvPeHqezaGAedP8GLWJhT0PUFmfvvpWHTkuk6uF_acF2062RDxCYX5KBnD2zJNCTsEJ1NnIsXHwiJULZ7mD8htmH6iVyzeD3EHojMi0bOW6UVuBmY_P5epJouQXPg3V0S4JfOw2hvIKq09ZQNS6UQlaRRneVsMAGECxznd9GAgohYeshPdmHPP2EFKpIrhWDvTrRz7cEKusfBfNWXypWEDpx0RBjcXvStFYsD_dFk-mi8aKQ9Nt3370lAOg8ORqmCZkkSa1c-v9npzAbo-c38_feuLhcMcXKtwDWlVi9o1TYARwdV9gHGh_n8kK-q9DlAQnsH7DNAgGkU-3rgCnlRVTeYunQpzMKstVpYKS4ir31fCV0Dqz8us1NhIYUI67kff3UnJQTu7iQSUk43G7YrZdunJcOW2PMsIcwfN8gHaptloV0Nya03rHg-UT_uRr2Cs-962eu4FI_WNSznyisMW_rYTGwBkW4Nl7weUlnj24OBFdlXyCxiKx7rTUorUBYzNLDN4POZOhJNLCmDx_ux8EVEXq7iS1jpz3O4ioilckwpyun1tqhQxdwoQdkj9Bl5QWG4CEYgS73TTH73fdZoLx6KAgaMHF4BQ=w1734-h975-no?authuser=0");
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.loadingContent {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  text-align: center;
}

.loadingContent h1 {
  font-size: 4rem;
  text-transform: uppercase;
  padding-top: 50px;
}

.rotate {
  animation: rotation 2.5s infinite linear;
}

.container {
  width: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  text-align: center;
}
.banner {
  height: 300px;
  width: 100%;
  position: relative;
  overflow: hidden;
  /* do this shit by yourself */
  background: rgba(0, 0, 0, 0.5);
}

.banner-content {
  width: 100%;
  text-align: center;
}

.banner-content h1 a {
  font-size: 4rem;
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
  text-decoration: none;
}

.banner__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.typewrite span {
  font-family: "Roboto Mono", monospace;
  font-size: 0.6em;
  padding-right: 5px;
  border-right: solid 3px white;
  animation: blink 0.5s step-end infinite alternate;
}

.about-me {
  padding: 50px 75px;
}
.about-image {
  margin: auto;

  width: 20%;
}

.about-image h2 {
  margin: 20px 0 10px 0;
  font-size: 2rem;
}

.v-line {
  width: 3px;
  background-color: black;
  height: 40vh;
}

.about-desc {
  width: 40%;
  margin: auto;
  text-align: left;
}

.about-desc p {
  font-size: 1.7rem;
  font-weight: 100;
  margin: 15px 0;
}
.skills {
  background-color: #fed000;
  padding: 0px 50px;
  width: 100%;
  display: block;
  text-align: center;
}
.skills h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 30px 20px;
}
.skills-divs {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.skills-divs div {
  margin: 30px 0;
}

.skills-divs div:hover {
  opacity: 0.8;
}

.skills-divs div img {
  width: 60px;
}

.skills-projects {
  text-align: center;
  padding: 0.1px 0 0 0;
  background: #fed000;
}

.skills-project {
  padding: 50px 115px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  margin: 50px 0;
}

.project-text {
  font-size: 1.5rem;
  margin: 20px 0;
}

.skills-project h3 {
  font-size: 2rem;
  font-weight: 600;
}

.tech-pill {
  padding: 5px 10px;
  background-color: #000;
  border-radius: 10%;
  color: #fff;
  margin: 5px;
}

.tech-pill:hover {
  opacity: 0.8;
}

.projectmedia {
  text-align: center;
}

.projectmedia img {
  width: 70%;
}

.projectmedia button {
  font-size: 1em;
  border: solid 2px black;
  margin: 10px;
}

button {
  cursor: pointer;
  padding: 15px 25px;
  background-color: transparent;
  border: solid 3px black;
  font-size: 1.5em;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
}
button:hover {
  background-color: black;
  color: #fed000;
}
.dark-project {
  background-color: #000;
  color: #fff;
}

.dark-project .tech-pill {
  background-color: #fed000;
  color: #000;
}

.dark-project p {
  font-weight: 300;
}

.dark-project button {
  border: solid 2px #fed000;
  color: #fed000;
}

.dark-project button:hover {
  background: #fed000;
  color: #000;
}

.form-tab {
  background: url("https://lh3.googleusercontent.com/acl0HujpFt_xOwbN4dN4SZRPYPpG4F7OI3OxGeLEHr7W_VM-hE2iTl0WzprL98rAzedh7uCOs3wPbYxGkvCxOd8Bok8rxwma0SOHpr_TfBvSX7ugPM2ibtysCiq1TZMcQfzY-FgBKd8YrdUjnMQ3yMXYYCZBnV9M9nCDpeuXhj5ByeWq7r-yCWrL_GBvtSPikQ0csZI7RMZrE9_0cXh0jVNzkD4ar9A2jSyZVkdlSbEptM8G3dH6K1XHTmmkOZVQJHT_UHbTZgFxtnAuMrvI2QBG6JUQXi-dmiKj7E8nZp7SsWzyubCug0wKk8OY8vFWMVXzS-gpDh99Ash9pmq2uPOrpokXtb_ppy2rcRFqjJGxfjLPz5iwIBtUOuo-2z65LHNIJglt38ikziNBlTVbHTF1c8VjLbV0VqA9yuFF4vkQh86L3GK_FdhTjoR7ShOiJEZiyNBPU7rQkoFg6X4EDfbe9B-Lxo7k_5OyCZMFVnDgabnyEjomnwzEQPerE9-3BN2c1QDlVM_tkwdrQj4TmvmNUMTYSEwLibX8gT6YV-9TJ47LGnWVtXwEwmY_k7lUHe4sYrnR4xi1kheru2sHWi99Br83QbB6J04DUNazhVSN-foPsj8FYowFDJY5qd4uhfqltkwbiK1QuOce97CkHwEstkU0sOr3lLwBP8YNwE9GPWzTQhayql_1H819Rgq7xTK9mJma06usQaFHtOqbsmy8Cg=w1734-h975-no?authuser=0");
  background-color: blue;
  width: 100%;
  margin: auto;
  padding: 20px 0;
}

.form-desc,
.form-contact {
  width: 50%;
  font-size: 1.2rem;
  padding: 75px;
}

.form-desc h1 {
  font-size: 4rem;
  padding: 20px 0;
}

.form-desc p {
  margin: 5px 0;
}

input[type="text"],input[type="email"]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Noto Sans KR"
}

textarea{
  font-family: "Noto Sans KR";
  width: 100%;
  padding:0;
  margin:8px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize:none;
  overflow: auto;
}

input[type="submit"] {
  width: 100%;
  background-color: #000;
  color: #fed000;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  border:none;

  font-family: "Noto Sans KR"
}

input[type="submit"]:hover {
  background-color: #fed000;
  color:#000;
}

#fcomments{
  height:400px;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

@media only screen and (max-width: 960px) {
  nav {
    display: block;
  }
  /*navbar brand */
  .navbar-brand {
    padding: 10px 0;
  }

  .navbar-brand div {
    margin: 0 auto 0 0;
  }

  .fa-bars {
    visibility: visible;
    margin-right: 5%;
    font-size: 15px;
  }

  /*Middle section*/

  nav ul {
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 100%;
  }

  nav li {
    display: block;
    padding: 15px 0;
  }
  nav li {
    font-weight: 300;
  }

  nav li:hover {
    background-color: #fff;
  }
  nav li:hover > a,
  nav li:hover > .fab {
    color: #000;
  }
  .active {
    background-color: #fed000;
  }
  .active a {
    font-weight: 500;
    color: #000;
  }
  /*Socials */
  .navbar-socials {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .navbar-socials ul {
    margin: 0 auto;
    text-align: center;
    display: flex;
    width: 100%;
  }

  .navbar-socials ul li {
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 40%;
  }

  .lang-sec {
    width: 10% !important;
  }

  .navbar-socials li:hover > .fab {
    color: #000;
  }

  .lang {
    font-size: 0.7em !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 5px !important;
  }

  .container {
    display: block;
    margin: auto;
    padding: 50px 0;
    margin: 0;
  }
  .container div {
    padding: 10px 50px;
    margin: auto;
    width: 100%;
  }

  .about-image img {
    padding: 0;
    margin: 0;
  }

  .skills {
    margin: 0;
    padding: 0;
  }

  .skills-divs {
    grid-template-columns: auto auto auto;
    margin: 0;
    padding: 0;
    width: 10%;
  }
  .v-line {
    display: none;
  }
  .skills-projects {
    padding: -1px;
    margin: 0;
  }
  .skills-project {
    grid-template-columns: 1fr;
  }

  .projectmedia {
    margin-top: 35px;
    text-align: center;
  }

  .projectmedia img {
    width: 100%;
    margin: 15px 0;
  }

  .projectmedia button {
    width: 150px;
  }

  .form-tab {
    width: 100%;
    margin: auto;
    padding: 20px 0;
  }

}

@media only screen and (max-width: 959px) and (min-width: 200px) {
  .skills h1 {
    font-size: 1.7rem;
  }
  .skills-divs {
    grid-template-columns: auto auto;
    margin: 0;
    padding: 0;
  }

  .skills-divs div {
    margin: 15px 0;
    padding: 0;
  }
}

@media only screen and (max-width: 1080px) and (min-width: 960px) {
  .v-line {
    display: none;
  }

  .skills-divs {
    grid-template-columns: auto auto auto auto;
  }

  .skills-divs div {
    margin: 20px;
  }
  .about-image img {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 1080px) {
  .skills-divs {
    grid-template-columns: auto auto auto auto auto auto;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
