@use '../main' as *;

.about-sections {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 1.5rem 0 3rem;
}

.about-section-text {
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  max-width: 44rem;
  line-height: 1.5;
}

.about-values {
  margin-bottom: 3rem;
}
