@import './main.scss';

/* Basic styling */
.navbar {
  box-sizing: border-box;
  position: static;
  background-color: $primary;
  padding: 1.5rem 1rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
}

body.has-hero .navbar {
  position: absolute;
  background-color: transparent;
}

.navbar--pinned {
  position: fixed !important;
  background-color: $primary !important;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;

  @media (min-width: 1024px) {
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
}

.nav-logo {
  color: white;
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: 1024px) {
    justify-self: start;
  }
}

/* Menu toggle button */
.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  margin-right: 2rem;
  opacity: 1;

  &:hover {
    opacity: 0.5;
  }
}

.menu-toggle svg {
  width: 32px;
  height: 32px;
}

/* Navigation links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;

  @media (min-width: 1024px) {
    justify-self: center;
  }
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  transition: opacity 0.3s ease-in-out;
}

.nav-links a:hover {
  opacity: 0.7;
}

/* Email icon (desktop only) */
.nav-email {
  display: none;

  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    justify-self: end;
    color: white;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
}

/* Mobile Styles */
@media screen and (max-width: 1024px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $primary;
    width: calc(100% - 2rem);
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    /* Hidden off-screen initially */
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
  }

  .nav-links.active {
    display: flex;
    height: 100vh;
    overflow: hidden;
    z-index: 999;

    /* Slide in from the top */
    transform: translateY(4rem);
  }

  .nav-links li {
    margin: 0;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
  }

  /* Delayed fade-in effect for menu items */
  .nav-links.active li:nth-child(1) {
    animation-delay: 0.1s;
  }
  .nav-links.active li:nth-child(2) {
    animation-delay: 0.2s;
  }
  .nav-links.active li:nth-child(3) {
    animation-delay: 0.3s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.hide-overflow {
  @media (max-width: 1024px) {
    overflow: hidden;
  }
}
